<div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{u3.fullname}}'s Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editUserForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="email" class="control-label required">Email address</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email"
                [value]="u3.email" required>
              <div id="emailHelp" style="color:red;" class="form-text" *ngIf="email && email.invalid && email.dirty">
                Name is invalid</div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" formControlName="username" id="username"
                placeholder="Enter username" required>
              <div id="emailHelp" style="color:red;" class="form-text"
                *ngIf="username && username.invalid && username.dirty">Username is
                invalid
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fullname">Full name</label>
              <input type="text" class="form-control" formControlName="fullname" id="fullname"
                placeholder="Enter Fullname" required>
              <div id="emailHelp" style="color:red;" class="form-text"
                *ngIf="fullname && fullname.invalid && fullname.dirty">Full Name
                must not
                be empty</div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="address">Address Line</label>
              <input type="text" class="form-control" formControlName="address" id="address" placeholder="Enter address"
                required>
              <div id="emailHelp" style="color:red;" class="form-text"
                *ngIf="address && address.invalid && address.dirty">Address must
                not be
                empty</div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" formControlName="dob" id="dob" placeholder="Enter Date of Birth"
                required>
              <div id="emailHelp" style="color:red;" class="form-text" *ngIf="dob && dob.invalid && dob.dirty">Date of
                Birth must not be
                empty
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Gender</label>
              <div class="form-check">
                <input class="form-check-input" id="male" value="Male" type="radio" name="gender"
                  formControlName="gender" checked>
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="female" value="Female" type="radio" name="gender"
                  formControlName="gender">
                <label class="form-check-label" for="female">Female</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="other" value="Other" type="radio" name="gender"
                  formControlName="gender">
                <label class="form-check-label" for="other">Other</label>
              </div>
              <div id="emailHelp" style="color:red;" class="form-text"
                *ngIf="gender && gender.invalid && gender.dirty">Gender must not
                be empty
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col">
          <button class="btn btn-link" (click)="promptDelete(deletionprompt)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
              viewBox="0 0 16 16">
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
            </svg>
          </button>
        </div>
        <div class="col">
          <button [disabled]="editUserForm.invalid" type="click" (click)="editUser()"
            class="btn btn-outline-dark">Submit</button>
          <div id="emailHelp" style="color:red;" class="form-text" *ngIf="editUserForm.invalid">
            Please fill in the form
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div>
  <ng-template #deletionprompt let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete {{u3.fullname}}'s account?</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Press the button below to delete user permanently.</p>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col">
          <div id="emailHelp" style="color:red;" class="form-text" *ngIf="deletionPromptMessage.length > 0">
            {{deletionPromptMessage}}
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" (click)="deleteUser()">Delete</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <form class="d-flex">
            <label for="userId">Enter User Id :</label>
            <input class="form-control me-2" type="number" id="userId" name="userId" #userId>
            <button (click)="getUser(userId.value)" class="btn btn-outline-success">Display User</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div id="emailHelp" style="color:red;">{{errormessage}}</div>
      </div>
    </div>
    <div class="col">
      <label>Username = <i>{{u.username}}</i></label><br>
      <label>Full Name = <i>{{u.fullname}}</i></label><br>
      <label>Gender = <i>{{u.gender}}</i></label><br>
      <label>Date of Birth = <i>{{u.dob.substring(0, 10)}}</i></label><br>
      <label>Address = <i>{{u.address}}</i></label><br>
      <label>Email = <i>{{u.email}}</i></label><br>
    </div>
  </div>
  <hr>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Full Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
          <th scope="col">Action </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{user.username}}</td>
          <td>{{user.fullname}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.dob.substring(0, 10)}}</td>
          <td>{{user.address}}</td>
          <td>{{user.email}}</td>
          <td>
            <div>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-link" (click)="openEditor(content, i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pen" viewBox="0 0 16 16">
                        <path
                          d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>