<div class="mx-auto" style="width: 200px;">
    <h1>{{title}}</h1>
    <hr>
    <label>Enter User Id :</label><input type="number" id="userId" name="userId" #userId>
    <button (click)="getUser(userId.value)" class="btn btn-primary">Display User</button>
    <br>
    <span class="label label-danger">{{errormessage}}</span>
    <hr>
    <div>
      <label>Username = <i>{{u.username}}</i></label><br>
      <label>Full Name = <i>{{u.fullname}}</i></label><br>
      <label>Age = <i>{{u.age}}</i></label><br>
      <label>Date of Birth = <i>{{u.dob}}</i></label><br>
      <label>Address = <i>{{u.address}}</i></label><br>
      <label>Email = <i>{{u.email}}</i></label>
    </div>
  </div>